@keyframes color-change {
  0% {
    color: red;
  }

  25% {
    color: yellow;
  }

  50% {
    color: green;
  }

  75% {
    color: blue;
  }

  100% {
    color: red;
  }
}

@keyframes rainbow_animation {

  0%,
  100% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }
}

body {
  font-family: sans-serif;
}

h1 {
  width: fit-content;
  font-weight: bold;
  font-style: italic;
  animation: color-change 3s infinite;
  margin: 10px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  gap: 5px;
}

.btn-group {
  margin: 10px;
  margin-top: 0px;
}

.buttons {
  padding-bottom: 10px;
  display: flex;
  column-gap: 5px;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

.stats {
  margin-left: 100px;
  font-family: monospace;
  font-size: 16px;
}

.field {
  display: grid;
  margin: 10px;
  grid-template-columns: repeat(var(--num-cols), var(--cell-size));
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid gray;
}

.cell.alive {
  background-color: var(--bg-color);
}

.field:not(.running) .cell:hover {
  background-color: rgb(141, 196, 248);
}

.field:not(.running) .cell.alive:hover {
  background-color: rgb(129, 0, 0);
}

/* button::first-letter {
  text-decoration: underline;
} */

/* h1 {
  width: fit-content;
  margin: 10px;
  font-weight: bold;
  font-style: italic;
  background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
} */